.sidebar-brand-full {
    margin-left: 3px;
}

.sidebar-toggler {
    @include ltr-rtl("margin-left", auto);
}

.sidebar-nav{
    .nav-title {
        display: flex;
        align-items: center;
        min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
        padding: 0;
        margin-top: 0;
    }
}

  